*[webkitviewhint^='hint']
{
    all: initial;
    z-index: 2147483647;
    position: fixed !important;
    opacity: 0.8;
    border:1px solid #444;
    border-radius: 5px;
    color: black;
    background-color: #999999;
    font: bold 20px monospace !important;
    margin: 0;
    padding: 0px 1px;
}
