head, script, noscript, iframe, style {display: none}
body {margin: 8; font-size: 14;}
b {font-weight: bold}
em, i {font-style: italic}
a, em, i, b, form {display: inline}
hr {height: 1; border: 1; color: grey}
div, h1, h2, h3, p, ul, li {display: block}
input, button {display: flex; margin: 5; padding: 5; border: 1;}
button {background-color: #adb1b8;}
a {color: blue}
table {display: table}
tr {display: table-row}
pre, code {background-color: #d0d0d0;}
p {margin: 8}

center {display: block; text-align: center;}
big, small, tt, font {display: inline}
